Repository tinyland-inc/tinyland-huskycat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: assets:icons, assets:validate-desktop, test:e2e:bootstrap:gitops, test:e2e:bootstrap:types, test:e2e:hooks:execution, test:e2e:fast:mode, test:e2e:edge:cases, lint:python, lint:ansible, lint:javascript, lint:shell, lint:docker, lint:terraform, lint:yaml, security:dependencies, security:container-scan, husky:python, husky:javascript, husky:auto-devops, validate:docs

assets:icons:
  stage: build
  image: alpine:3.19
  before_script:
  - apk add --no-cache inkscape imagemagick
  script:
  - mkdir -p dist/icons
  ...

assets:validate-desktop:
  stage: test
  image: alpine:3.19
  before_script:
  - apk add --no-cache desktop-file-utils
  script:
  - desktop-file-validate assets/linux/huskycat.desktop
  - desktop-file-validate assets/linux/huskycat-tray.desktop
  - echo "Desktop files validated successfully"

test:e2e:bootstrap:gitops:
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure
  stage: test
  image: python:3.11-alpine
  needs: []
  before_script:
  - apk add --no-cache git curl bash gcc musl-dev linux-headers
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - export PATH="$HOME/.local/bin:$PATH"
  ...

test:e2e:bootstrap:types:
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure
  stage: test
  image: python:3.11-alpine
  needs: []
  before_script:
  - apk add --no-cache git curl bash gcc musl-dev linux-headers
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - export PATH="$HOME/.local/bin:$PATH"
  ...

test:e2e:hooks:execution:
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure
  stage: test
  image: python:3.11-alpine
  needs: []
  before_script:
  - apk add --no-cache git curl bash gcc musl-dev linux-headers
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - export PATH="$HOME/.local/bin:$PATH"
  ...

test:e2e:fast:mode:
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure
  stage: test
  image: python:3.11-alpine
  needs: []
  before_script:
  - apk add --no-cache git curl bash gcc musl-dev linux-headers
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - export PATH="$HOME/.local/bin:$PATH"
  ...

test:e2e:edge:cases:
  retry:
    max: 2
    when:
    - runner_system_failure
    - stuck_or_timeout_failure
  stage: test
  image: python:3.11-alpine
  needs: []
  before_script:
  - apk add --no-cache git curl bash gcc musl-dev linux-headers
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - export PATH="$HOME/.local/bin:$PATH"
  ...

lint:python:
  cache:
    key:
      files:
      - package-lock.json
      - requirements.txt
      - pyproject.toml
    paths:
    - .cache/pip
    - .cache/npm
    - .cache/yarn
    - node_modules/
    - .venv/
  stage: lint
  image: python:${PYTHON_VERSION}
  before_script:
  - pip install --upgrade pip
  ...

lint:ansible:
  cache:
    key:
      files:
      - package-lock.json
      - requirements.txt
      - pyproject.toml
    paths:
    - .cache/pip
    - .cache/npm
    - .cache/yarn
    - node_modules/
    - .venv/
  stage: lint
  image: python:${PYTHON_VERSION}
  before_script:
  - pip install ansible ansible-lint
  script:
  ...

lint:docker:
  stage: lint
  image: hadolint/hadolint:latest-alpine
  script:
  - echo "üîç Running hadolint..."
  - find . -name "Dockerfile*" -type f | xargs hadolint

fix(ci): add download jobs directly to main CI file
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

ci: remove download-tools.yml include (jobs defined inline)
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

feat(ci): fix download timeout and add comprehensive caching
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/download-tools.yml
  .gitlab/ci/e2e-tests.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

feat(ci): add nix2container and build resumability (Phases 5-6)
  .gitlab-ci.yml
  .gitlab/ci/nix.yml
  scripts/download_tools.py
Due: lint:python, lint:ansible, lint:yaml, husky:python, husky:auto-devops

research: LangGraph patterns for dependency orchestration
  research/langgraph-dependency-orchestration.md
Due: none

feat: extract nix/package.nix for monorepo composability, add Bazel-Nix bridge
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/github-mirror.yml
  BUILD.bazel
  MODULE.bazel
  bazel/nixpkgs.nix
  flake.nix
  nix/modules/huskycat.nix
  nix/package.nix
  requirements_lock.txt
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): unblock pipeline from honey runner, fix nix2container Go version
  .gitlab-ci.yml
  .gitlab/ci/binary-tests.yml
  .gitlab/ci/ci-base-image.yml
  .gitlab/ci/nix.yml
  flake.lock
  flake.nix
Due: lint:ansible, lint:yaml, husky:auto-devops

fix: test fixture scope, ruff lint selection, GitHub mirror push
  .github/workflows/ci.yml
  .gitlab/ci/github-mirror.yml
  tests/test_git_hooks.py
Due: lint:python, lint:ansible, lint:yaml, husky:python

fix(ci): prevent pzm runners from claiming untagged jobs
  .gitlab/ci/nix.yml
Due: lint:ansible, lint:yaml

feat(mirror): filtered GitHub sync with zlib license
  .gitlab/ci/github-mirror.yml
Due: lint:ansible, lint:yaml

ci: add OutBot tri-VCS sync jobs (GitLab -> GitHub + Codeberg)
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): route sync jobs to civo runner (honey DNS broken)
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix: add README.md (unbreaks hatchling build)
  README.md
Due: none

Path conditions:
  assets:icons: any of: assets/icons/**/*
  assets:validate-desktop: any of: assets/linux/**/*
  test:e2e:bootstrap:gitops: any of: src/huskycat/commands/bootstrap.py, src/huskycat/hooks/**/*.py, tests/e2e/**/*.py
  test:e2e:bootstrap:types: any of: src/huskycat/commands/bootstrap.py, src/huskycat/hooks/**/*.py, tests/e2e/**/*.py
  test:e2e:hooks:execution: any of: src/huskycat/hooks/**/*.py, tests/e2e/**/*.py
  test:e2e:fast:mode: any of: src/huskycat/hooks/**/*.py, src/huskycat/core/mode_detector.py, tests/e2e/**/*.py
  test:e2e:edge:cases: any of: src/huskycat/commands/bootstrap.py, tests/e2e/**/*.py
  lint:python: any of: **/*.py
  lint:ansible: any of: **/*.yml, **/*.yaml
  lint:javascript: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, package*.json
  lint:shell: any of: **/*.sh, **/*.bash
  lint:docker: any of: **/Dockerfile*, **/*.dockerfile
  lint:terraform: any of: **/*.tf, **/*.tfvars
  lint:yaml: any of: **/*.yml, **/*.yaml
  security:dependencies: any of: package*.json
  security:container-scan: any of: **/Dockerfile*
  husky:python: any of: **/*.py
  husky:javascript: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx
  husky:auto-devops: any of: .gitlab-ci.yml, values*.yaml, .helm/**/*, k8s/**/*
  validate:docs: any of: docs/**/*, mkdocs.yml
