Repository tinyland-inc/tinyland-huskycat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:python, lint:ansible, lint:javascript, lint:shell, lint:docker, lint:terraform, lint:yaml, security:dependencies, security:container-scan, husky:python, husky:javascript, husky:auto-devops

Path conditions:
  lint:python: any of: **/*.py
  lint:ansible: any of: **/*.yml, **/*.yaml
  lint:javascript: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, package*.json
  lint:shell: any of: **/*.sh, **/*.bash
  lint:docker: any of: **/Dockerfile*, **/*.dockerfile
  lint:terraform: any of: **/*.tf, **/*.tfvars
  lint:yaml: any of: **/*.yml, **/*.yaml
  security:dependencies: any of: package*.json
  security:container-scan: any of: **/Dockerfile*
  husky:python: any of: **/*.py
  husky:javascript: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx
  husky:auto-devops: any of: .gitlab-ci.yml, values*.yaml, .helm/**/*, k8s/**/*

docs: comprehensive documentation accuracy fixes and CLI unit tests
  docs/RESEARCH_REPORT.md
  docs/api/mcp-tools.md
  docs/configuration.md
  docs/features/mcp-server.md
  docs/installation.md
  docs/mcp-architecture.md
  tests/test_cli_commands.py
Due: lint:python, husky:python

style: format test files and relax lint rules for tests
  pyproject.toml
  setup.cfg
  tests/conftest.py
  tests/run_comprehensive_tests.py
  tests/run_tests.py
  tests/test_cli_commands.py
  tests/test_container_comprehensive.py
  tests/test_git_hooks.py
  tests/test_mcp_integration_comprehensive.py
  tests/test_mcp_server_pbt.py
  tests/test_mode_detection.py
  tests/test_property_based.py
  tests/test_real_validation_e2e.py
  tests/test_testing_infrastructure.py
  tests/test_unified_validation_pbt.py
  tests/test_validation_pbt.py
Due: lint:python, husky:python

refactor(hooks): use HuskyCat validation engine instead of direct tools
  .githooks/_/common.sh
  .githooks/pre-commit
  .githooks/pre-push
Due: lint:shell

fix(ci): make file command optional in binary build jobs
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix: make pre-push hook fast (CI config validation only)
  .githooks/README.md
  .githooks/pre-push
Due: none

refactor: separate macOS build and sign stages with optional needs
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix: add explicit keychain parameter to codesign command
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix: detect certificate type and fallback to ad-hoc signing for binaries
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix: use Rocky Linux 9 and proper ARM64 runner tags for linux-arm64 build
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

feat: build Linux AMD64 binaries on Rocky Linux 9
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix: enable EPEL repository for UPX package on Rocky Linux
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): resolve GitLab CI YAML parsing errors in E2E tests
  .gitlab/ci/e2e-tests.yml
Due: lint:ansible, lint:yaml

fix: resolve CI test failures and hook module path issues
  src/huskycat/commands/autodevops.py
  src/huskycat/commands/bootstrap.py
  src/huskycat/commands/hooks.py
  src/huskycat/core/hook_generator.py
  src/huskycat/formatters/chapel.py
  src/huskycat/templates/hooks/pre-commit.template
  src/huskycat/templates/hooks/pre-push.template
  src/huskycat/unified_validation.py
  tests/test_validation_pbt.py
Due: lint:python, husky:python

fix(test): correct tool name to python-black in property-based test
  tests/test_validation_pbt.py
Due: lint:python, husky:python

fix(ci): correct taplo binary download URL format
  ContainerFile
Due: none

fix(ci): replace bash arrays with POSIX-compliant syntax in validate:artifacts
  .gitlab/ci/scheduled-updates.yml
Due: lint:ansible, lint:yaml

docs: rewrite docs/index.md with code-verified accuracy
  docs/index.md
Due: none

docs: rewrite CLAUDE.md with accurate product mode architecture
  CLAUDE.md
Due: none

docs: add comprehensive differentiating features section with code refs
  README.md
Due: none

fix(pages): correct GitLab Pages URL to actual auto-generated URL
  .gitlab-ci.yml
  .gitlab/ci/pages.yml
  mkdocs.yml
  scripts/generate-llms-docs.py
Due: lint:python, lint:ansible, lint:yaml, husky:python, husky:auto-devops

docs: Sprint 10 proposal - non-blocking hooks & standalone binaries
  docs/proposals/sprint-10-architectural-refactor.md
Due: none

docs(sprint-10): add plan vs reality analysis and cleanup recommendations
  docs/SPRINT10_CLEANUP_SUMMARY.md
  docs/SPRINT10_PLAN_VS_REALITY.md
  docs/SPRINT10_TEST_COVERAGE_PLAN.md
Due: none

test(day5): comprehensive config and execution modes tests
  .coverage
  TEST_COVERAGE_SUMMARY.md
  tests/test_config_extended.py
  tests/test_execution_modes_extended.py
Due: lint:python, husky:python

test(sprint-10): add 268 comprehensive tests for coverage improvement
  docs/SPRINT10_TEST_COVERAGE_COMPLETE.md
  tests/test_config_extended.py
  tests/test_execution_modes_extended.py
  tests/test_nonblocking_adapter_extended.py
  tests/test_process_manager_extended.py
  tests/test_tool_extractor_extended.py
  tests/test_tui_extended.py
Due: lint:python, husky:python

feat(sprint-11): Phase 2 - Binary bootstrap testing and documentation
  .gitlab-ci.yml
  .gitlab/ci/binary-tests.yml
  docs/binary-downloads.md
  docs/installation.md
  huskycat_main.py
  package.json
  scripts/verify_binary.sh
  src/huskycat/core/tool_extractor.py
  tests/test_binary_bootstrap.py
Due: lint:python, lint:ansible, lint:javascript, lint:shell, lint:yaml, security:dependencies, husky:python, husky:auto-devops

fix(docs): correct all download URLs and prepare for beta testing
  .gitlab/ci/pages.yml
  README.md
  docs/AGENT_REVIEW_FINDINGS.md
  docs/BETA_TESTING.md
  docs/BETA_TESTING_READINESS.md
  docs/binary-downloads.md
  docs/installation.md
  scripts/install.sh
Due: lint:ansible, lint:shell, lint:yaml

docs: mark execution-models.md as needing verification
  docs/architecture/execution-models.md
Due: none

docs: clean up project root and simplify README
  .gitignore
  .gitlab-ci.yml.backup
  README.md
  coverage.json
  docs/archive/sprints/BUILD_FAT_BINARY.md
  docs/archive/sprints/PARALLEL_EXECUTOR_SUMMARY.md
  docs/archive/sprints/REFACTOR_SUMMARY.md
  docs/archive/sprints/TEST_COVERAGE_SUMMARY.md
  docs/archive/sprints/TUI_DELIVERY_SUMMARY.md
Due: none

fix(ci): move binary tests to sign stage and fix dependencies
  .gitlab/ci/binary-tests.yml
Due: lint:ansible, lint:yaml

fix(ci): add linux-headers for psutil compilation in E2E tests
  .gitlab/ci/e2e-tests.yml
Due: lint:ansible, lint:yaml

fix: add psutil to container Python dependencies
  ContainerFile
Due: none

fix(ci): enable binary tests with correct paths
  .gitlab/ci/binary-tests.yml
Due: lint:ansible, lint:yaml

fix: allow package:python to fail without blocking binary tests
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): add --storage-driver vfs flag to all buildah commands
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

feat: comprehensive HuskyCat upgrade with MCP 2025-11-25, validation, docs
  .github/workflows/huskycat.yml
  .gitlab/ci/download-tools.yml
  .gitlab/ci/husky-lint.yml
  .gitlab/ci/husky-validation.yml
  .gitlab/ci/huskycats-validation.yml
  .gitlab/ci/scheduled-updates.yml
  CLAUDE.md
  CRUSH.md
  docs/architecture/INTEGRATION_QUICK_REFERENCE.md
  docs/architecture/INTEGRATION_ROADMAP.md
  docs/architecture/ai-assistant-integration-research.md
  examples/demo_parallel_executor.py
  examples/demo_tui.py
  examples/performance_comparison.py
  examples/process_manager_demo.py
  examples/tui_with_process_manager.py
  examples/verify_parallel_executor.py
  prompt.txt
  scripts/validate-gitlab-ci-schema.py
  src/huskycat/commands/ci.py
  src/huskycat/compose_validator.py
  src/huskycat/core/adapters/git_hooks_nonblocking.py
  src/huskycat/core/config.py
  src/huskycat/core/config_schema/__init__.py
  src/huskycat/core/config_schema/schema.py
  src/huskycat/github_actions_validator.py
  src/huskycat/mcp_server.py
  src/huskycat/schemas/__init__.py
  src/huskycat/schemas/huskycat-config.schema.json
  tests/test_compose_validation.py
  tests/test_github_actions_validation.py
  verify_tui.py
Due: lint:python, lint:ansible, lint:yaml, husky:python

docs: cleanup duplicates, archive audits, update navigation
  docs/QUICK_START_NONBLOCKING.md
  docs/archive/audits/AGENT_REVIEW_FINDINGS.md
  docs/archive/audits/DOCUMENTATION_AUDIT.md
  docs/examples/.huskycat.nonblocking.example.yaml
  docs/future-roadmap.md
  docs/mcp-tool-api.md
  mkdocs.yml
Due: lint:ansible, lint:yaml

feat: Apache-2.0 licensing, GPL isolation, clean-room linters
  ContainerFile.gpl-sidecar
  ContainerFile.wrapper
  LICENSE
  NOTICE
  docs/research/distribution-plan.md
  examples/yaml_lint_demo.py
  gpl-sidecar/README.md
  gpl-sidecar/server.py
  pyproject.toml
  src/huskycat/api.py
  src/huskycat/core/tool_selector.py
  src/huskycat/linters/__init__.py
  src/huskycat/linters/dockerlint_validator.py
  src/huskycat/linters/yaml_lint.py
  src/huskycat/linters/yaml_lint_validator.py
  tests/test_yaml_lint.py
Due: lint:python, husky:python
