Repository tinyland-inc/tinyland-huskycat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: husky:python, husky:javascript, husky:auto-devops

husky:python:
  image:
    name: registry.gitlab.com/bates-ils/projects/trustees-portal/sid-controller/huskycats-bates/husky-lint:latest
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  before_script:
  - echo "Running HuskyCats validation on $(uname -m)"
  - cd ${CI_PROJECT_DIR}
  stage: test
  script:
  ...

husky:javascript:
  image:
    name: registry.gitlab.com/bates-ils/projects/trustees-portal/sid-controller/huskycats-bates/husky-lint:latest
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  before_script:
  - echo "Running HuskyCats validation on $(uname -m)"
  - cd ${CI_PROJECT_DIR}
  stage: test
  script:
  ...

husky:auto-devops:
  image:
    name: registry.gitlab.com/bates-ils/projects/trustees-portal/sid-controller/huskycats-bates/husky-lint:latest
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  before_script:
  - echo "Running HuskyCats validation on $(uname -m)"
  - cd ${CI_PROJECT_DIR}
  stage: test
  script:
  ...

fix: resolve test:lifecycle:script YAML configuration error
  .gitlab/ci/scheduled-updates.yml
Due: none

fix: properly quote YAML strings with colons in test:lifecycle script
  .gitlab/ci/scheduled-updates.yml
Due: none

fix: re-enable scheduled-updates with simplified test:lifecycle job
  .gitlab-ci.yml
  .gitlab/ci/scheduled-updates.yml
Due: husky:auto-devops

fix: add comprehensive type annotations and resolve import issues
  pyproject.toml
  src/huskycat/__init__.py
  src/huskycat/__main__.py
  src/huskycat/commands/autodevops.py
  src/huskycat/commands/status.py
  src/huskycat/core/base.py
  src/huskycat/core/factory.py
  uv.lock
Due: husky:python

feat: implement scheduled Helm chart validation system with hive mind integration
  .gitlab/ci/scheduled-updates.yml
  src/huskycat/__main__.py
  src/huskycat/commands/autodevops.py
  src/huskycat/commands/schemas.py
Due: husky:python

fix: format code and clean YAML trailing spaces
  .gitlab/ci/scheduled-updates.yml
  src/huskycat/__main__.py
  src/huskycat/commands/autodevops.py
  src/huskycat/commands/schemas.py
Due: husky:python

dev: move toward APPLE_SIGNING_IDENTITY gitop pattern for darwin distributables
  .gitlab-ci-autodevops.yml
  .gitlab-ci.yml
  .gitlab/ci/husky-validation.yml
  .gitlab/ci/huskycats-validation.yml
  .gitlab/ci/pages.yml
  .huskycat.yaml
  .yamllint.yml
  build_binary.py
  huskycat_main.py
  scripts/validate-gitlab-ci-schema.py
  src/huskycat/commands/autofix.py
  src/huskycat/commands/validate.py
Due: husky:python, husky:auto-devops

chore: remove test file
  test_autofix.py
Due: husky:python

feat: implement proper conventional commit message validation
  src/huskycat/commands/hooks.py
Due: husky:python

feat: enhance git hooks with uv environment fallback support
  src/huskycat/commands/hooks.py
Due: husky:python

fix: add stuff
  .gitlab-ci-autodevops.yml
  .yamllint.yml
Due: none

fix: prevent GitLab CI validator from validating non-CI YAML files
  .yamllint.yml
  src/huskycat/unified_validation.py
Due: husky:python

fix: clean up unused imports and variables with autoflake
  src/huskycat/commands/bootstrap.py
  src/huskycat/commands/hooks.py
  src/huskycat/unified_validation.py
Due: husky:python

fix: soften flake8 line length requirements and clean code style
  setup.cfg
  src/huskycat/commands/bootstrap.py
  src/huskycat/commands/hooks.py
Due: husky:python

fix: improve GitLabCIValidator scope to prevent false positives on non-CI YAML files
  src/huskycat/unified_validation.py
Due: husky:python

fix: correct GitLabCIValidator can_handle logic to prevent false positives
  src/huskycat/unified_validation.py
Due: husky:python

fix: apply Black formatting to unified validation engine
  src/huskycat/unified_validation.py
Due: husky:python

fix: AutoflakeValidator now uses container execution properly
  src/huskycat/unified_validation.py
Due: husky:python

feat: implement container-only execution strategy
  src/huskycat/commands/validate.py
  src/huskycat/mcp_server.py
  src/huskycat/unified_validation.py
Due: husky:python

fix: update pre-push hook to use --allow-warnings for development workflow
  src/huskycat/commands/hooks.py
Due: husky:python

feat: implement development-friendly pre-push validation
  src/huskycat/commands/hooks.py
  src/huskycat/commands/validate.py
Due: husky:python

feat: implement staged validation strategy to solve recursive validation problem
  .gitlab-ci.yml
  src/huskycat/commands/hooks.py
Due: husky:python, husky:auto-devops

fix: move container build to security stage to fix test job dependencies
  .gitlab-ci.yml
Due: husky:auto-devops

fix: add retry and timeout to container_scanning job
  .gitlab-ci.yml
Due: husky:auto-devops

fix: override container ENTRYPOINT for CI test jobs using proper GitLab syntax
  .gitlab-ci.yml
Due: husky:auto-devops

fix: resolve validator detection in container execution context
  src/huskycat/commands/mcp.py
  src/huskycat/unified_validation.py
Due: husky:python

perf: optimize CI pipeline with needs-based dependencies for faster execution
  .gitlab-ci.yml
Due: husky:auto-devops

fix: add missing E2E test dependencies to resolve CI test failures
  pyproject.toml
  uv.lock
Due: none

ci: remove container_scanning job - uncontrollable GitLab service dependency
  .gitlab-ci.yml
Due: husky:auto-devops

fix: resolve property-based test API mismatches and GitLab CI pipeline issues
  .gitlab-ci.yml
  ContainerFile
  src/huskycat/unified_validation.py
  tests/test_unified_validation_pbt.py
  tests/test_validation_pbt.py
Due: husky:python, husky:auto-devops

fix: resolve CI test timeouts and dependency issues
  .gitlab-ci.yml
  .hypothesis/unicode_data/15.1.0/codec-utf-8.json.gz
  pyproject.toml
  tests/conftest.py
Due: husky:python, husky:auto-devops

fix: resolve GitLab CI YAML parsing error in test:unit job
  .gitlab-ci.yml
Due: husky:auto-devops

fix: add missing pytest-html and pytest-cov dependencies to E2E test jobs
  .gitlab-ci.yml
Due: husky:auto-devops

feat: complete Sprint 1 critical fixes and add sprint plan
  .gitlab-ci.yml
  CLAUDE.md
  Makefile
  docs/SPRINT_PLAN.md
  docs/architecture/simplified-architecture.md
  pyproject.toml
  tests/test_mcp_integration_comprehensive.py
  tests/test_real_validation_e2e.py
Due: husky:python, husky:auto-devops

feat: Sprint 4 - CI templates for GitLab and GitHub
  .github/workflows/huskycat.yml
  action.yml
  ci-templates/gitlab-ci-huskycat.yml
Due: none

feat: Sprint 0 - Product Mode Architecture Foundation
  src/huskycat/__main__.py
  src/huskycat/core/__init__.py
  src/huskycat/core/adapters/__init__.py
  src/huskycat/core/adapters/base.py
  src/huskycat/core/adapters/ci.py
  src/huskycat/core/adapters/cli.py
  src/huskycat/core/adapters/git_hooks.py
  src/huskycat/core/adapters/mcp.py
  src/huskycat/core/adapters/pipeline.py
  src/huskycat/core/mode_detector.py
  tests/test_mode_detection.py
Due: husky:python

feat: Sprint 6-8 - Adapter tool selection, explicit mode flags, and FixConfidence tiers
  src/huskycat/__main__.py
  src/huskycat/commands/hooks.py
  src/huskycat/commands/install.py
  src/huskycat/commands/validate.py
  src/huskycat/core/adapters/__init__.py
  src/huskycat/core/adapters/base.py
  src/huskycat/core/adapters/mcp.py
  src/huskycat/core/base.py
  src/huskycat/core/factory.py
  tests/test_mcp_integration_comprehensive.py
  tests/test_mode_detection.py
Due: husky:python

Path conditions:
  husky:python: any of: **/*.py
  husky:javascript: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx
  husky:auto-devops: any of: .gitlab-ci.yml, values*.yaml, .helm/**/*, k8s/**/*
