Repository tinyland-inc/tinyland-huskycat: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:python, lint:ansible, lint:javascript, lint:shell, lint:docker, lint:terraform, lint:yaml, security:dependencies, security:container-scan, husky:python, husky:javascript, husky:auto-devops

lint:python:
  cache:
    key:
      files:
      - package-lock.json
      - requirements.txt
      - pyproject.toml
    paths:
    - .cache/pip
    - .cache/npm
    - .cache/yarn
    - node_modules/
    - .venv/
  stage: lint
  image: python:${PYTHON_VERSION}
  before_script:
  - pip install --upgrade pip
  ...

lint:ansible:
  cache:
    key:
      files:
      - package-lock.json
      - requirements.txt
      - pyproject.toml
    paths:
    - .cache/pip
    - .cache/npm
    - .cache/yarn
    - node_modules/
    - .venv/
  stage: lint
  image: python:${PYTHON_VERSION}
  before_script:
  - pip install ansible ansible-lint
  script:
  ...

lint:javascript:
  cache:
    key:
      files:
      - package-lock.json
      - requirements.txt
      - pyproject.toml
    paths:
    - .cache/pip
    - .cache/npm
    - .cache/yarn
    - node_modules/
    - .venv/
  stage: lint
  image: node:${NODE_VERSION}
  before_script:
  - npm ci || npm install
  script:
  - echo "üîç Running ESLint..."
  ...

lint:shell:
  stage: lint
  image: koalaman/shellcheck-alpine:stable
  script:
  - echo "üîç Running shellcheck..."
  - find . -name "*.sh" -type f -not -path "./node_modules/*" | xargs shellcheck -x

lint:docker:
  stage: lint
  image: hadolint/hadolint:latest-alpine
  script:
  - echo "üîç Running hadolint..."
  - find . -name "Dockerfile*" -type f | xargs hadolint

lint:terraform:
  stage: lint
  image: hashicorp/terraform:latest
  script:
  - echo "üîç Running Terraform validation..."
  ...

lint:yaml:
  stage: lint
  image: python:${PYTHON_VERSION}-alpine
  before_script:
  - pip install yamllint
  script:
  - echo "üîç Running yamllint..."
  - yamllint -c .yamllint . || yamllint .

security:dependencies:
  cache:
    key:
      files:
      - package-lock.json
      - requirements.txt
      - pyproject.toml
    paths:
    - .cache/pip
    - .cache/npm
    - .cache/yarn
    - node_modules/
    - .venv/
  stage: security
  image: node:${NODE_VERSION}
  script:
  - echo "üîç Running npm audit..."
  ...

security:container-scan:
  stage: security
  image: aquasec/trivy:latest
  script:
  - echo "üîç Scanning container images..."
  ...

husky:python:
  image:
    name: registry.gitlab.com/bates-ils/projects/trustees-portal/sid-controller/huskycats-bates/husky-lint:latest
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  before_script:
  - echo "Running HuskyCats validation on $(uname -m)"
  - cd ${CI_PROJECT_DIR}
  stage: test
  script:
  ...

husky:javascript:
  image:
    name: registry.gitlab.com/bates-ils/projects/trustees-portal/sid-controller/huskycats-bates/husky-lint:latest
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 0
  before_script:
  - echo "Running HuskyCats validation on $(uname -m)"
  - cd ${CI_PROJECT_DIR}
  stage: test
  script:
  ...

feat: SPDX headers, tool_selector integration, GPL IPC client
  CLAUDE.md
  pyproject.toml
  src/huskycat/__init__.py
  src/huskycat/__main__.py
  src/huskycat/commands/install.py
  src/huskycat/core/__init__.py
  src/huskycat/core/adapters/__init__.py
  src/huskycat/core/adapters/base.py
  src/huskycat/core/adapters/ci.py
  src/huskycat/core/adapters/cli.py
  src/huskycat/core/adapters/git_hooks.py
  src/huskycat/core/adapters/git_hooks_nonblocking.py
  src/huskycat/core/adapters/mcp.py
  src/huskycat/core/adapters/pipeline.py
  src/huskycat/core/gpl_client.py
  src/huskycat/core/mode_detector.py
  src/huskycat/core/process_manager.py
  src/huskycat/mcp_server.py
  src/huskycat/unified_validation.py
Due: lint:python, husky:python

docs: aggressive cleanup, consolidate to 24 active files
  .gitignore
  CLAUDE.md
  README.md
  docs/SOURCES.md
  docs/architecture/INTEGRATION_QUICK_REFERENCE.md
  docs/architecture/RESEARCH_SUMMARY.md
  docs/architecture/execution-models.md
  docs/architecture/simplified-architecture.md
  docs/archive/README.md
  docs/archive/audits/MIGRATION_NOTES.md
  docs/archive/audits/fat-binary-documentation-audit.md
  docs/archive/proposals-completed/auto-format-comprehensive-review.md
  docs/archive/proposals-completed/documentation-overhaul-2025.md
  docs/archive/proposals-completed/git-tracked-hooks.md
  docs/archive/redundant/binary-gitops-installation.md
  docs/archive/redundant/getting-started.md
  docs/archive/redundant/parallel_executor.md
  docs/archive/redundant/process_manager_integration.md
  docs/archive/redundant/tui.md
  docs/archive/research/ai-assistant-integration-research.md
  docs/archive/research/clean-room-reimplementation-feasibility.md
  docs/archive/research/distribution-plan.md
  docs/archive/research/python-tools-bundling-feasibility.md
  docs/archive/sprints/BETA_TESTING_READINESS.md
  docs/archive/sprints/SPRINT_PLAN.md
  docs/archive/sprints/auto-format-implementation-plan.md
  docs/archive/sprints/e2e-ci-testing-strategy.md
  docs/archive/sprints/feature-parity-analysis.md
  docs/archive/sprints/gitops-binary-bootstrap-plan.md
  docs/configuration.md
  docs/features/mcp-server.md
  mkdocs.yml
Due: lint:ansible, lint:yaml

feat: integrate GPL sidecar IPC and reorganize documentation
  docs/QUICK_REFERENCE.md
  docs/development/YAML_LINTER_IMPLEMENTATION.md
  mkdocs.yml
  podman-compose.yml
  src/huskycat/unified_validation.py
Due: lint:python, lint:ansible, lint:yaml, husky:python

chore(docs): remove redundant archive documentation
  docs/archive/redundant/EMBEDDED_TOOLS_MIGRATION.md
  docs/archive/redundant/EMBEDDED_TOOL_EXECUTION.md
  docs/archive/redundant/FAT_BINARY_ARCHITECTURE.md
  docs/archive/redundant/TUI_INTEGRATION.md
  docs/archive/redundant/binary-gitops-installation.md
  docs/archive/redundant/ci-pipeline-architecture.md
  docs/archive/redundant/ci-pipeline-fat-binary-status.md
  docs/archive/redundant/fat-binary-builds.md
  docs/archive/redundant/getting-started.md
  docs/archive/redundant/gitlab-ci-cd.md
  docs/archive/redundant/parallel_executor.md
  docs/archive/redundant/process_manager_integration.md
  docs/archive/redundant/tui.md
  docs/archive/redundant/tui_framework.md
  docs/archive/redundant/tui_implementation_summary.md
Due: none

refactor(validators): extract validators to dedicated package
  src/huskycat/validators/__init__.py
  src/huskycat/validators/_utils.py
  src/huskycat/validators/ansible_lint.py
  src/huskycat/validators/autoflake.py
  src/huskycat/validators/bandit.py
  src/huskycat/validators/base.py
  src/huskycat/validators/black.py
  src/huskycat/validators/chapel.py
  src/huskycat/validators/eslint.py
  src/huskycat/validators/flake8.py
  src/huskycat/validators/gitlab_ci.py
  src/huskycat/validators/hadolint.py
  src/huskycat/validators/isort.py
  src/huskycat/validators/mypy.py
  src/huskycat/validators/prettier.py
  src/huskycat/validators/ruff.py
  src/huskycat/validators/shellcheck.py
  src/huskycat/validators/taplo.py
  src/huskycat/validators/terraform.py
  src/huskycat/validators/yamllint.py
Due: lint:python, husky:python

refactor: update imports to use validators package
  CLAUDE.md
  src/huskycat/linters/dockerlint_validator.py
  src/huskycat/linters/yaml_lint_validator.py
  src/huskycat/mcp_server.py
  src/huskycat/unified_validation.py
Due: lint:python, husky:python

fix(ci): resolve YAML syntax error in fpm-packages.yml
  .gitlab/ci/fpm-packages.yml
Due: lint:ansible, lint:yaml

fix(ci): make sign:darwin-arm64 dependency optional
  .gitlab/ci/macos-pkg.yml
Due: lint:ansible, lint:yaml

fix(ci): move macos-pkg to deploy stage for proper dependency order
  .gitlab-ci.yml
  .gitlab/ci/macos-pkg.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): move darwin-universal to package stage
  .gitlab/ci/macos-pkg.yml
Due: lint:ansible, lint:yaml

feat(devops): implement 2026 agent recommendations
  .gitlab-ci.yml
  .mise.toml
  pyproject.toml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): use SaaS runners for container builds + fix FPM/SBOM
  .gitlab-ci.yml
  .gitlab/ci/fpm-packages.yml
  .gitlab/ci/sbom.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): remove unsupported Linux ARM64 + fix runner tags + optimize
  .gitlab-ci.yml
  .gitlab/ci/binary-tests.yml
  .gitlab/ci/build.yml
  .gitlab/ci/download-tools.yml
  .gitlab/ci/fpm-packages.yml
  .gitlab/ci/macos-pkg.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): disable DinD TLS for custom runners
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): remove --platform flag from docker build
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): add linux tag to target Rocky runner, not Darwin
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): re-add tags after syncing runner tags to GitLab API
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): upgrade DinD to docker:25.0 + add CI monitoring docs
  .gitlab-ci.yml
  CLAUDE.md
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): increase container build timeout to 2h
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

docs(infrastructure): add 3-wave Opus agent execution plan
  docs/infrastructure/opus-3-wave-plan.md
Due: none

fix(ci): use 'linux' tag instead of 'x86_64' for Rocky Linux runners
  .gitlab-ci.yml
  .gitlab/ci/binary-tests.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

feat(ci): add package registry upload for private beta distribution
  .gitlab-ci.yml
  scripts/download-beta.sh
Due: lint:ansible, lint:shell, lint:yaml, husky:auto-devops

style: reformat with black 26.1.0 for CI parity
  src/huskycat/api.py
Due: lint:python, husky:python

fix(deps): make dockerfile package optional to fix CI
  pyproject.toml
Due: none

fix(ci): add registry authentication to sbom:generate:container
  .gitlab/ci/sbom.yml
Due: lint:ansible, lint:yaml

fix(ci): improve sbom:generate:container registry authentication
  .gitlab/ci/sbom.yml
Due: lint:ansible, lint:yaml

fix(ci): quote YAML string with colons to fix CI config parse error
  .gitlab/ci/sbom.yml
Due: lint:ansible, lint:yaml

fix(ci): remove manual job gates and fix certificate passwords
  .gitlab-ci.yml
  .gitlab/ci/fpm-packages.yml
  .gitlab/ci/macos-pkg.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(validators): rename hadolint validator for GPL sidecar compatibility
  .gitlab/ci/e2e-tests.yml
  docs/api/mcp-tools.md
  docs/cli-reference.md
  docs/features/mcp-server.md
  src/huskycat/validators/hadolint.py
  tests/test_validation_pbt.py
Due: lint:python, lint:ansible, lint:yaml, husky:python

fix(ci): address pipeline failures from CI optimization commit
  .gitlab-ci.yml
  .gitlab/ci/fpm-packages.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): allow empty certificate password for unencrypted P12 files
  .gitlab/ci/macos-pkg.yml
Due: lint:ansible, lint:yaml

fix(ci): convert download-tools.yml to use extends instead of YAML anchors
  .gitlab/ci/download-tools.yml
Due: lint:ansible, lint:yaml

ci: add test job to verify download-tools.yml inclusion
  .gitlab/ci/download-tools.yml
Due: lint:ansible, lint:yaml

ci: add test job in validate stage to debug job creation
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

ci: test job in package stage instead of validate
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

fix(ci): move download-tools jobs to package stage
  .gitlab-ci.yml
  .gitlab/ci/download-tools.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

ci: try include path without leading slash for download-tools.yml
  .gitlab-ci.yml
Due: lint:ansible, lint:yaml, husky:auto-devops

Path conditions:
  lint:python: any of: **/*.py
  lint:ansible: any of: **/*.yml, **/*.yaml
  lint:javascript: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, package*.json
  lint:shell: any of: **/*.sh, **/*.bash
  lint:docker: any of: **/Dockerfile*, **/*.dockerfile
  lint:terraform: any of: **/*.tf, **/*.tfvars
  lint:yaml: any of: **/*.yml, **/*.yaml
  security:dependencies: any of: package*.json
  security:container-scan: any of: **/Dockerfile*
  husky:python: any of: **/*.py
  husky:javascript: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx
  husky:auto-devops: any of: .gitlab-ci.yml, values*.yaml, .helm/**/*, k8s/**/*
